<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cloudservice loginscreen</title>
    <link rel="stylesheet" th:href="@{/css/loginscreenstyle.css}" />
  </head>
  <body>
    <section>
      <img th:src="@{/images/Background.jpg}" class="bg" />
      <div class="authenticationbox">
        <h2 class="login">login</h2>

        <form method="POST" th:action="@{/auth/login}" class="inputfields">
          <div class="inputbox">
            <input type="text" name="email" placeholder="e-mail" />
          </div>
          <div class="inputbox">
            <input type="password" name="password" placeholder="Password" />
          </div>

          <div class="inputbox">
            <span th:text="${loginError}" class="errorMessage"></span>
            <button class="authenticationbutton" type="submit">login</button>
          </div>
        </form>

        <div class="group">
          Kein Account? Hier Registrieren
          <a th:href="@{/auth/register}">Sign up</a>
        </div>
      </div>
    </section>
  </body>
</html>
