<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cloudservice loginscreen</title>
    <link rel="stylesheet" th:href="@{/css/loginscreenstyle.css}" />
  </head>
  <body>
    <section>
      <img th:src="@{/images/Background.jpg}" class="bg" />
      <div class="authenticationbox">
        <h2 class="login">Registrieren</h2>

        <form method="POST" th:action="@{/auth/register}" class="inputfields">
          <div class="inputbox">
            <input type="text" name="email" placeholder="E-mail" />
          </div>
          <div class="inputbox">
            <input type="password" name="password" placeholder="Password" />
          </div>
          <div class="inputbox">
            <input type="text" name="key" placeholder="Key" />
          </div>

          <div class="inputbox">
            <button class="authenticationbutton" type="submit">
              registrieren
            </button>
          </div>
        </form>

        <div class="group">
          Bereits einen Account? Hier Anmelden
          <a th:href="@{/auth/login}">Sign in</a>
        </div>
      </div>
    </section>
  </body>
</html>
